{%extends "padre.html"%}

{%load static%}

{%block contenido%}

<main class="container">
    <h1 class="text-center title">Cursos</h1>

    <a href="{% url 'alta_curso'%}" class="btn btn-primary btn-sm">Nuevo Curso</a>
    <a href="{% url 'buscar_curso' %}" class="btn btn-primary btn-sm">Buscar Curso</a>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>comision</th>
            </tr>
        </thead>

    <tbody>
        {% for n in cursos %}
        <tr>
            <td>{{n.id}}</td>
            <td>{{n.nombre}}</td>
            <td>{{n.comision}}</td>

        </tr>
        {%endfor%}
    </tbody>




    </table>










</main>

{% endblock %}

